@font-face {
    font-family: Terminus;
    src: url(/Terminus.ttf);
}

.rotateimg60 {
  -webkit-transform:rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.left{
	float: left !important;
	display: inline-block;
}

html,body {
	height: 100%;
	margin:0;
  font-family:Terminus;
  background-color:darkred;
}

h1,h2 {
  color:white;
  margin-top: 3px;
  margin-bottom: -20px;
  padding-top: 3px;
}

h3 {
	color: black;
}

hr {
  margin:0;
  border: 0 none;
  border-top: 3px dashed white;
  background: none;
  height:0;
}

/* create flexbox column */
.v {
	display:flex;
	flex-direction: column;
}

/* create flexbox row */
.h {
	display: flex;
}

.name {
	display: inline-flex;
}

/* center content of column or row */
.hc {
	justify-content: center;
	width: 100%;
}


/* center content of column or row */
.namec {
	text-align: left;
	width: 100%;
	
}
.vc {
	justify-content: center;
	height: 100%;
}

/* minimalist box design */

.simplebox {
	margin: 10px;
}

.simplebox .title {
  color:white;
	font-size: 25px;
}

.nolink {
	text-decoration: none !important;
	color: black;
}

.simplebox .body {
	border: 1px solid;
	border-radius: 20px;
	padding: 20px;
	display: block;
  max-width:600px;
  transition: background-color 0.3s ease;
	background-color:#C6C6C6;
}

.simplebox a:hover .body{
  background-color:white;
}

/* preview page */

.preview {
  width: 300px;
}

/* center pane content on preview page */
.preview .body {
	display:flex;
	justify-content:center;
}

/* front page icon */

.icon {
	height: 200px;
  max-width: 100%;
}

/* image annotations */
.annotate {
  margin:  15px auto 15px auto;
  text-align:center;
}

.annotate img{
    max-width:550px; /*550px*/
} 

/* Project Header */
.project_head img {
    height:60px;
    width:60px;
    margin:5px 10px 5px 5px;
}

.project_head a{
    text-decoration: none;
}
.project_head {
    font-size: 20px;
}

.hoverinfo {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size:28px;
	color: white;
	cursor: pointer;
}

.hoverinfo:hover p {
    background-color: rgba(255, 255, 255, 0.7);
    display: block;
}

p {
	display:center;
	color: black;
}

