body {
    background: grey;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI Light","Helvetica Neue","Open Sans","Segoe UI",Helvetica,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
}

body div {  
	text-align: center;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}


#header {  /* adjusts initial banner */
    background: darkred;
    padding-bottom: 2em;  
}


/* Pictures on start screen */
/*.container {
    float:left;
    position: relative;
    width: 30%;
} */

.image{
    float:left;
	margin: 90px; /* top right bottom left *//*single = all values */
}

.image img {
    width: 100%;
    height: 4.5in;
    }



/*Wording Throughout*/
h1 {
 margin-bottom: .25px;
 margin-top: .5px;
 font-size: 4.375em;
}
h2 {
 font-size: 1.6253em;
}
h3 {
 margin-bottom: .25px;
 margin-top: .025px;
 font-size: 4.375em;
}
h4 {
 margin-bottom: .25px;
 margin-top: .25px;
 font-size: 1em;
}
h1, h2, h3, h4{
    font-family: "Segoe UI Light","Helvetica Neue","Open Sans","Segoe UI",Helvetica,Helvetica,Arial,sans-serif;
    font-weight: lighter;
    font-style: normal;
    color: #FFF;
    margin-top: .2rem;
    line-height: 1.4;
}


/* links on home page */
div div p a{  
 color:  black;
 text-decoration: none;
 display: inline-block;
 font-weight: bold;
 
}

span.navigationSpace{
	padding-left: 50px;
}

span.navigationSpaceEngin{
	padding-left: 5px;
}
